@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --txt-primary: #ca5f31;
    --bg: #f0f0f0;
    --text: #222;
    --body-font: 'Inter', sans-serif;
}

.dark {
    --bg: #000;
    --text: #f0f0f0;
}

html {
    font-family: "Teko", sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 45px;
    color: #fff;
}
ul{
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 100;
    border: 3px solid green;
    display: flex;
}

.header__nav {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
.list{
    font-weight: 700;
    gap: 50px;
}
.list__link{
    transition: transform 0.3s;
    display: inline-block;
}
.list__link:hover {
    transform: scale(1.5);
}
/*.header__menu .list{
display: flex;
flex-direction: column;
gap: 15px;
width: 100px;
}*/
.header__logo{
    font-weight: 900;
}

@media (max-width: 768px){
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 45%;
        background-color: #333;
        transition: left .3s ease-in-out;
    }
    .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        font-weight: 1200;
    }
    .list__link{
        font-size: 24px;
        transition: transform 0.3s;
    }
    .list__link:hover{
        transform: scale(1.2);
    }
    
    
}
button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    
}
.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;

}
.hero__title{
    font-weight: 900;
    font-size: 50px;
    gap: 50px;
}
.hero__img{
    
    width: 150px;
    height: auto;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    overflow: hidden;
    box-shadow: 20px 20px 0x 0px red;
    border-radius: 0 0 0 10px;
}
.hero__img img{
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.hero__img:hover img{
transform: scale(1.1);

}
.hero .containeres{
    border: 4px solid red;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.buttom_dowland{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__btn{
   
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
    font-family: inherit;
    background-color: #00FFFF;
    color: #000;
    

}
.hero__text{
    font-size: 20px;
}
.icons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.stacks{
    width: 90%;
    height: auto;
}
.icons .icons__tech{
    width: 100px;
    height: auto;
}
.icons__tech .img__tech{
    width: 40px;
    height: auto;
}
.containeres{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}
.card__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imga{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__title{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.portfolio__contend{
    width: 250px;
    display: flex;
    position: relative;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}
.card__img .img{
    max-width: 100%;
    height: 150px;
}
.section__contact{
    padding: 50px;
}
.description{
    text-align: justify;
}
.form{
    width: 50%;
    height: auto;
    color: #000;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid  red;
    
}

.contain__form{
    display: flex;
    justify-content: center;
    align-items: center;
}